Source: release-feed-mediola
Section: net
Priority: optional
Maintainer: Claudia Pellegrino <clau@tiqua.de>
Build-Depends: debhelper-compat (= 13), dh-python, pybuild-plugin-pyproject, python3-all, python3-myst-parser, python3-poetry-core, python3-sphinx
Standards-Version: 4.5.1
Homepage: https://github.com/claui/release-feed-mediola
Vcs-Browser: https://github.com/claui/release-feed-mediola
Vcs-Git: https://github.com/claui/release-feed-mediola.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: release-feed-mediola
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-colorama, python3-fire
Description: Atom feed for software product releases of Mediola AG
 This package installs the utility and documentation for Python 3.
